@using Entities.Concrete
@model List<Category>

@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Durum</th>
    </tr>

    @foreach (var category in Model)
    {
        <tr>
            <td>@category.CategoryId</td>
            <td>@category.Name</td>
            <td>@category.Status</td>
        </tr>
    }

</table>

<br />

<a href="/Category/Add" class="btn btn-info">Kategori Ekle</a>